doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Home Feed
  link(rel='stylesheet' href='stylesheets/profile.css')
  link(rel='stylesheet' href='stylesheets/feed.css')
  script(type='text/javascript' src='javascripts/links.js')
  script(type='text/javascript' src='javascripts/profile.js')
  ink(rel='icon' href='images/logoWhite.png')

.topBar
  img.headerLogo(src='images/logoWhite.png')
  button.postBtn(onclick="workout()") + Add Workout
  form(action='/logout/', method='POST' enctype="multipart/form-data" class="logoutForm")
    button.logoutBtn(onclick="logout()") Log Out
.leftTab
  button.homeBtn(onclick="home()") Home
  br
  button.exploreBtn(onclick="explore()") Explore
  br
  button.exploreBtn(onclick="profile()") Profile
.rightTab
  for x in feed
    .postDiv
      .topPost
        img#homePic(src=x.profilePic)
        b=x.Date
        b#homeUsername=x.User
        b#homeName=x.Name
      form(action="/findWorkout/", method="POST",class="form"+x.ID)
        input(type="submit",class="invisible")
        input(type="text",name="idImage", value=x.ID, class="invisible")
        video(src=x.pic, id=x.ID, class="homeVideo",onclick="feedViewWorkout()")


